.highlight {
    background-color: rgb(194, 144, 144);
    color: white;
    border: 1px solid #d2d2bf;
    border-radius: 20%;
    margin-bottom: 5px;
}

.card-img-top{
    transition: all 0.2s ease-in-out;
}
.card-img-top:hover {
    transform: scale(110%);
}
.card-body{
    background-color: rgb(245, 230, 211);
}
main{
    background-image: url(./brooke-lark-4ELjpkrMpHg-unsplash.jpg);
    background-size: cover;
    background-position: center;
}
